.tarefas {
  width: 100%;
}

.tarefas-lista {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  color: var(--cinza-sub);
  gap: 30px;
}

.tarefas-card {
  background-color: var(--cinza-claro);
  padding: 40px;
  border-radius: 8px;
  border: 1px solid var(--border-card);
  transition: 0.2s ease;
}

.tarefas-card-data-prioridade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.tarefas-card-conteudo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tarefas-card-botoes {
  align-items: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tarefas-card-botao {
  border: none;
  background-color: transparent;
}

.concluir-icone {
  width: 24px;
  height: 15px;
}

.excluir-icone {
  width: 19px;
  height: 22px;
}

.tarefas-card-concluida {
  opacity: 0.5;
}

.tarefas-card-concluida .tarefas-card-titulo {
  text-decoration: line-through;
}

/*Mobile*/
@media screen and (max-width: 576px) {

.tarefas-lista {
  gap: 20px;
}

.tarefas-card {
  padding: 30px;
}
}


