.tarefas-card-titulo {
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

/*Mobile*/
@media screen and (max-width: 576px) {
.tarefas-card-titulo {
  font-size: 1.1rem;
}

}